################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cardhandle365/FileContentIndex/ca339815-4f2b-41c2-a30b-e62ea9c2a005.vsidx
/.vs/cardhandle365/FileContentIndex/793d9f3e-a68c-412c-a9b7-ef26c4ae144a.vsidx
/.vs/cardhandle365/FileContentIndex/fd0ce058-0865-4b74-9fac-cc5d5418416b.vsidx
/.vs/slnx.sqlite
/.gitignore
/.vs/cardhandle365/FileContentIndex/b85d2c10-1e47-4f99-a456-a8a1753047ea.vsidx
*.vsidx
/node_modules/.cache/babel-loader
