################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cardhandle365/FileContentIndex
/.vs/cardhandle365/v17
/node_modules/.cache/babel-loader
/.vs
/node_modules
/build/static/js
/build
