################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cardhandle365/FileContentIndex/ca339815-4f2b-41c2-a30b-e62ea9c2a005.vsidx
