.App {
  display: flex;
  font-family: serif;
  text-align: center;
}
.catecory-dropdowns {
  display: flex;
  justify-content: center;
}
.catecory-dropdowns h1 {
  flex: 1;
  margin-right: 0px;
}
.category {
  flex: 1;
}
.subcategory {
  flex: 1;
}
